/* Typography */

h1,h2,h3,a,p,ul,li,a {
    margin:0;
    padding:0;
    list-style: none; 
    font-family: 'M PLUS 1p', sans-serif;  
  
    color: #913996;
}
h1 {
    font-size: 78px;
}
h2 {
    font-size: 44px;  
}
h3 {
    font-size: 26px;
}

/* Globals */

.container {
    width:1200px;
    margin:auto;
}

/* Header */

header .container {
    display: flex;
    justify-content: flex-end;
}
header a {
    margin-top: 31px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* Home */

#home_content {
    display: flex;
    margin-top:180px;
}

#logo {
    width: 400px;
}

.home #right {
   width:calc(100% - 400px);
   padding-left:30px;
}

.home h1 {
    margin-top: 40px;
}

.home h2 {
    margin-top: -20px;
}

.home h3 {
    margin-top: -5px;
}

